extends layout

block content
    h2 TEACHER

    h3 Usun ocenę
    form(method='POST', action="/teacher/delete")
        #form-group
            label Przedmiot: 
            input.form-control(name='subject', type='text')
        #form-group
            label Id ucznia: 
            input.form-control(name='studentid', type='text')
        #form-group
            label Ocena: 
            input.form-control(name='grade', type='text')



